/* CONTROLE DA RESPONSIVIDADE */
@media screen and (max-width: 760px) {
    header {
      min-height: 100%;
    }
    .header-background-images {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: 0.5rem;
    }
    header > .header-background-images > h1,
    header > .header-background-images > p {
      position: relative;
      top: 45%;
      left: 50%;
      padding: 0 1.5rem;
      margin: 10px 0;
    }
    header > .header-background-images > h1 {
      font-size: 25px;
      text-align: center;
    }
    header > .header-background-images > p {
      font-size: 15px;
      text-align: center;
    }
    nav {
      border: var(--border);
      display: block;
    }
    .external-books-sites-container {
      display: block;
      border: var(--border);
    }
    .spans-container {
      display: flex;
      justify-content: flex-start;
      flex-wrap: nowrap;
      position: relative;
      left: 50%;
    }
    .search-bar {
      flex-direction: column;
      width: 100%;
      border: 1px solid red;
    }
    .container-search-bar {
      display: block;
      width: 100%;
    }
    .animation {
      display: flex;
      padding-left: 0;
      width: 100%;
      margin: 0;
    }
    .container-discover-genres {
      width: 100%;
      grid-template-rows: repeat(3, 1fr);
      position: absolute;
      top: -50%;
      left: -60%;
      z-index: 2;
    }
  }
  @media screen and (max-width: 383px) {
    .header-background-images {
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0;
      top: -20%;
      transform: none;
    }
    header > .header-background-images > h1,
    header > .header-background-images > p {
      top: 50%;
      margin: 10px 0;
    }
    header > .header-background-images > h1 {
      font-size: 20px;
      text-align: left;
      padding-left: 0.5rem;
    }
    header > .header-background-images > p {
      font-size: 15px;
      text-align: left;
      padding-left: 0.5rem;
    }
    .spans-container > span {
      margin: 0.5rem;
    }
  }
  /* CONTROLE DA RESPONSIVIDADE */
@media screen and (max-width: 760px) {
    section.search-for-genres > div.genres-list {
      grid-template-columns: repeat(2, 2fr);
    }
    .box-genre .genre-title {
      text-align: center;
      font-size: 4vw;
      position: absolute;
    }
    section.search-for-genres > .subtitle {
      display: block;
      margin: 0 0;
      width: 50%;
      padding: 0 0;
    }
    .week-books-box > .title {
      flex-direction: column;
      align-items: flex-start;
    }
    .title h1 {
      margin-bottom: 0.5rem;
      font-size: 20px;
    }
    .title .show-more {
      margin: 0;
    }
    .subtitle h1 {
      width: 100%;
      text-align: center;
      font-size: 15px;
      margin: 0.2rem;
    }
  }
  @media screen and (max-width: 560px) {
    section.search-for-genres > div.genres-list {
      grid-template-columns: repeat(1, 1fr);
    }
    .title h1 {
      text-align: left;
      font-size: 15px;
    }
    .box-genre .genre-title {
      text-align: center;
      font-size: 6vw;
    }
  }
  